'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'CSON'
    'submenu': [
      {
        'label': 'convert JSON to CSON'
        'command': 'Convert:JSON to CSON'
      },
      {
        'label': 'convert CSON to JSON'
        'command': 'Convert:CSON to JSON',
      }
    ]
  ]
]
